.cke_button_icon.cke_button__openlibretextsquerydialog_icon {
  background-image: url(https://a.mtstatic.com/@public/production/site_4538/1579208579-favicon.ico?t=cffb82d…K9LL&_=cffb82d…:site_4538);
  background-position: 0 undefinedpx;
  background-size: 16px;
}
