.cke_button_icon.cke_button__openlibretextsquerydialog_icon {
  background-image: url(https://a.mtstatic.com/@public/production/site_4538/1579208579-favicon.ico?t=cffb82d…K9LL&_=cffb82d…:site_4538) !important;
  background-position: 0 undefinedpx !important;
  background-size: 16px !important;
}
.cke_button_icon.cke_button__openlibretextsadaptdialog_icon {
  background-image: url(https://d2xt85ly3365wl.cloudfront.net/4eb3ead8-6be4-4cfe-be83-e06cd40dd54b/assets/img/favicon.png) !important;
  background-position: 0 undefinedpx !important;
  background-size: 16px !important;
}
